<h3>Convert an address to latitude/longitude coordinates</h3>
<div class="well">
  <div class="form-group">
    <input type="text" class='form-control' placeholder="Street address to convert" #address>
  </div>
  <button class="btn btn-primary" (click)='getLngLat(address.value); address.value=""'>Get coordinates</button>
  <h3 *ngIf='searchedLngLat'>Latitude: {{searchedLngLat.lat}}, Longitude: {{searchedLngLat.lng}} <span><button class='btn btn-xs' (click)='searchedLngLat=null'>Clear search</button></span></h3>
</div>
